*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color: #FF9A4B;
  height: 50px;
}

main{
  width: 960px;
  display: flex;
  margin: 50px auto;
}

.box{
  width: 300px;
  position: relative;
  margin-right: 30px;
  padding: 10px;
  background-color:#EEEEEE ;
}

.box:last-child{
  margin-right: 0;
}

.box-image1{
  height: 150px;
  background-image:url(img/flow01.png);
  background-position: bottom;
  background-size: cover;
}

.box-image2{
  height: 150px;
  background-image: url(img/flow02.png);
  background-position: bottom;
  background-size: cover;
}

.box-image3{
  height: 150px;
  background-image: url(img/flow03.png);
  background-position: bottom ;
  background-size: cover;
}

.box-number{
  background-color:#FF9A4B;
  color: #FFF;
  position: absolute;
  top: 0px;
  left: 0px;
}

h3{
  margin-top: 15px;
  margin-bottom: 5px;
}


footer{
  height: 50px;
  background-color: #AAAAAA;
}

@media  screen and (max-width: 768px){
  main{
    width: 100%;
    display: block;
    margin: 50px 5%;
  }

  .box{
    margin-bottom: 20px;
    width: 90%;
    height: 300px;
  }

  h3{
    font-size: 20px;
  }

  .box:last-child{
    margin-bottom: 0;
  }
}
  
